* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, 
body {
  height: 100vh;
  background-color: #07c9ff;
}

.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: Lato, sans-serif;
  height: 100%;
}


